@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

button {
  border: none;
  cursor: pointer;
}

html,
body {
  height: 100%;
}

body {
  color: #e4e4e7;
  line-height: 1.3;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* Container global */
.container {
  height: inherit;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Cards container */
.cards {
  position: relative;
}

/* All cards */
.card {
  max-width: 300px;
  width: max-content;
  border-radius: 20px;
  padding: 2rem;
}

/* First Card */
.card:first-of-type {
  position: absolute;
  inset: unset;
  z-index: 1;

  transform: translate(-25%, -10%) skew(23deg, -10deg);
  transform-origin: left top;
  transition: 400ms;

  background: linear-gradient(to bottom right, #50527c, #404164, #30314b);
  box-shadow: 3px 3px 29px 6px rgba(0, 0, 0, 0.5);
}

/* Hover first card */
.card:first-of-type:hover {
  transform: translate(-20%, -17%) skew(23deg, -10deg);
}

/* Second Card */
.card:last-of-type {
  transform: translate(-20%, 20%) skew(23deg, -10deg);
  background: linear-gradient(to top left, #4d77ff, #5ee6eb);
  box-shadow: 0 3px 9px -1px rgba(0, 0, 0, 0.5);
}

/* Image */
.card__hero figure {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Descriptions */
.card__details h2 {
  font-family: caveat;
  font-size: 2.5rem;
}

.card__details p {
  margin: 1rem 0 3rem;
}

/* Buttons */
.card__actions {
  display: flex;
  margin-top: 1rem;
}

.card__actions button {
  flex: 1;
  padding: 0.5rem;
  border-radius: 0.5rem;

  transition: 300ms;
  background-color: #fff;

  font-size: 0.8rem;
  font-weight: 600;
}

.card__actions button:last-of-type {
  background-color: transparent;
  color: #fff;
}

.card__actions button:first-of-type:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
